
.playercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4%;
}


.stats {
    display: flex;
    width: 25%;
    font-size: 1.3rem;
    height: 3rem;
    list-style: none;
    border: 5px solid grey;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
 }
.scorestyle {
    /* display: flex;
    justify-content: space-around;
    color: green; */
 }  
.keystyle {
    font-weight: bold;
    padding-right: 25%;
} 

