.nav {
    background-color: grey;
    height: 4rem;
    font-size: 0.98rem;
}

ul.navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
}

li.section {
    display: flex;
    align-items: center;
    width: 30%;
    text-decoration:none
}

